@charset "UTF-8";

$use-svg: true !default;
$use-iconfont: false !default;
$iconfont-name: icomoon !default;

// We use this to do clear floats
@mixin clearfix {
	&:before, &:after { content: " "; display: table; }
	&:after { clear: both; }
}



$icon-names: ()!default;

$temp-icon-name: '';

@each $icon-name in $icon-names {
	$temp-icon-name: $temp-icon-name +  '.' + $icon-name + ' - ' + $icon-name +'
' !global;
}


// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components.

$modules: () !default;
@mixin exports($name) {
	// Import from global scope
	$modules: $modules !global;
	// Check if a module is already on the list
	$module_index: index($modules, $name);
	@if (($module_index == null) or ($module_index == false)) {
		$modules: append($modules, $name) !global;
		@content;
	}
}
