/*
# Navigation

Styleguide 3
*/

/*
# Tabs

<b>Used base variablesd:</b>
<pre><code class="lang-css">
body{
	background: red;
}
$color-box-border
$color-box-bg
$box-tab-border-radius
</code></pre>

Az lenti moduloknál ie8-hoz szükséges a hozzá való js fájl is. Accordionnál igaz ez akkor is ha animálni kell a lenyitást egyéb böngészőknél is.

<pre><code>
$('.tabs').bfTabs();
$('.accordion').bfAccordion({option: value});
Default accordion js options:
animation: true,
duration: 400,
easing: 'swing'
</pre></code>

Markup:
<ul class="tabs">
	<li>
		<input type="radio" name="tabs-1" id="tabs-1-1" checked="checked" />
		<label for="tabs-1-1">Tab One</label>
		<div class="tabs-panel">
			<div class="tabs-content">
				lorem
			</div>
		</div>
	</li>
	<li>
		<input type="radio" name="tabs-1" id="tabs-1-2" />
		<label for="tabs-1-2">Tab Two</label>
		<div class="tabs-panel">
			<div class="tabs-content">
				ipsum
			</div>
		</div>
	</li>
	<li>
		<input type="radio" name="tabs-1" id="tabs-1-3" />
		<label for="tabs-1-3">Tab Three</label>
		<div class="tabs-panel">
			<div class="tabs-content">
				dolor
			</div>
		</div>
	</li>
</ul>

Styleguide 3.1
*/

// Module variables:
$module-tabs-color-box-border: $color-box-border;
$module-tabs-color-box-bg: $color-box-bg;
$module-tabs-box-tab-border-radius: $box-tab-border-radius;

.tabs {
	list-style: none;
	margin: 0;
	padding: 0;
	&:after {
		clear: both;
		content: '';
		display: table;
	}
	> li {
		display: inline;
		font-size: 0;
		> label {
			border: 1px solid transparent;
			border-bottom: 0;
			border-radius: $module-tabs-box-tab-border-radius $module-tabs-box-tab-border-radius 0 0;
			cursor: pointer;
			display: inline-block;
			font-size: 12px;
			left: 1px;
			margin-left: -1px;
			padding: 8px 10px;
			position: relative;
			vertical-align: bottom;
		}
		> [type="radio"] {
			bottom: 100%;
			display: none;
			left: 0;
			&:checked + label {
				background: white;
				border: 1px solid $module-tabs-color-box-border;
				border-bottom: 0;
				cursor: default;
				z-index: 1;
				+ .tabs-panel {
					display: inline;
				}
			}
		}
		&.checked {
			label {
				background: white;
				border: 1px solid $module-tabs-color-box-border;
				border-bottom: 0;
				cursor: default;
				z-index: 1;
			}
			.tabs-panel {
				display: inline;
			}
		}
		.tabs-panel {
			display: none;
			overflow: hidden;
			position: relative;
			.tabs-content {
				border: 1px solid $module-tabs-color-box-border;
				float: left;
				font-size: 12px;
				margin-top: -1px;
				padding: 10px;
				width: 100%;
			}
		}
	}
}